<form class="container col-md-4 mt-5" [formGroup]="registerForm" (ngSubmit)="registerForm.valid&& register()" autocomplete="off">
  <h2 class="text-center text-primary">Kayıt Formu</h2>
  <hr />

  <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('username')?.errors &&
        registerForm.get('username')?.touched
      "
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <div class="invalid-feedback">Lütfen bir kullanıcı adı giriniz</div>
  </div>
  <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('knownAs')?.errors &&
        registerForm.get('knownAs')?.touched
      "
      type="text"
      class="form-control"
      formControlName="knownAs"
      placeholder="Ad ve Soyad(Görüntülenecek ad)"
    />
    <div class="invalid-feedback">Lütfen bir ad-soyad giriniz</div>
  </div>
  <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('dateOfBirth')?.touched &&
        registerForm.get('dateOfBirth')?.invalid
      "
      type="text"
      class="form-control"
      formControlName="dateOfBirth"
      placeholder="Doğum Tarihi"
      bsDatepicker
      [bsConfig]="bsConfig"
      [maxDate]="maxDate"
    />
    <div class="invalid-feedback">Lütfen bir Doğum Tarihi giriniz</div>
  </div>
  <div class="form-group">
    <label class="control-labs" style="margin-right: 10px">Cinsiyet:</label>
    <label class="radio-inline">
      <input type="radio" value="female" formControlName="gender" /> Female
    </label>
    <label class="radio-inline">
      <input type="radio" value="male" formControlName="gender" class="ml-3" />
      Male
    </label>
  </div>

  <div class="form-group">
    <label class="control-labs" style="margin-right: 10px">Ülke:</label>
    <select 
      class="form-control"
      [class.is-invalid]="
        registerForm.get('country')?.errors &&
        registerForm.get('country')?.touched
      "
      formControlName="country"
    >
    <option value="" selected="selected">Ülke seçiniz</option>
      <ng-container *ngFor="let country of countries$">
        <option value="{{country.id}}">{{ country.name  }}</option>
      </ng-container>
    </select>
    <div class="invalid-feedback">Lütfen bir şehir giriniz</div>
  </div>
  <div class="form-group">
    <label class="control-labs" style="margin-right: 10px">Şehir:</label>
    <select
    
      class="form-control"
      [class.is-invalid]="
        registerForm.get('city')?.errors && registerForm.get('city')?.touched
      "
      formControlName="city"
    >
    <option value="" selected="selected">Şehir seçiniz</option>
      <ng-container *ngFor="let city of cities">
        <option value="{{city}}">{{ city }}</option>
      </ng-container>
    </select>
    <div class="invalid-feedback">Lütfen bir şehir giriniz</div>
  </div>
  <div class="form-group">
    <label class="control-labs" style="margin-right: 10px">Okul:</label>
    <select
      class="form-control"
      [class.is-invalid]="
        registerForm.get('schoolId')?.errors &&
        registerForm.get('schoolId')?.touched
      "
      formControlName="schoolId"
    >
    <option value="" selected="selected">Okul seçiniz</option>

      <ng-container *ngFor="let school of this.schools">
        <option value="{{school.id}}">
          {{ school.name }}
        </option>
      </ng-container>
    </select>
    <div class="invalid-feedback">Lütfen bir okul giriniz</div>
  </div>
  <div class="form-group">
    <label class="control-labs" style="margin-right: 10px">Sınıf:</label>
    <select
      class="form-control"
      [class.is-invalid]="
        registerForm.get('classId')?.errors && registerForm.get('classId')?.touched
      "
      formControlName="classId"
    >
    <option value="" selected="selected">Sınıf seçiniz</option>
      <ng-container  *ngFor="let class of classes$">
        <option value="{{class.id}}">
          {{ class.name }}
        </option>
      </ng-container>
    </select>
    <div class="invalid-feedback">Lütfen bir sınıf giriniz</div>
  </div>

  <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('password')?.errors &&
        registerForm.get('password')?.touched
      "
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password"
    />
    <div
      *ngIf="registerForm.get('password')!.hasError('required')"
      class="invalid-feedback"
    >
      Lütfen bir şifre giriniz
    </div>
    <div
      *ngIf="registerForm.get('password')!.hasError('minlength')"
      class="invalid-feedback"
    >
      Şifre en az 8 karakterli olmalıdır
    </div>
    <div
      *ngIf="registerForm.get('password')!.hasError('maxlength')"
      class="invalid-feedback"
    >
      Şifre en fazla 20 karakterli olmalıdır
    </div>
  </div>
  <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('confirmPassword')?.errors &&
        registerForm.get('confirmPassword')?.touched
      "
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <div
      *ngIf="registerForm.get('confirmPassword')!.hasError('required')"
      class="invalid-feedback"
    >
      Lütfen bir doğrulama şifresi giriniz
    </div>
    <div
      *ngIf="registerForm.get('confirmPassword')!.hasError('isMatching')"
      class="invalid-feedback"
    >
      Şifreleriniz uyuşmamaktadır
    </div>
    <div
      *ngIf="registerForm.get('confirmPassword')!.hasError('minlength')"
      class="invalid-feedback"
    >
      Şifre en az 8 karakterli olmalıdır
    </div>
    <div
      *ngIf="registerForm.get('confirmPassword')!.hasError('maxlength')"
      class="invalid-feedback"
    >
      Şifre en fazla 20 karakterli olmalıdır
    </div>
  </div>
  <div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div>
  <div class="form-group text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success mr-2" type="submit">Kayıt Ol</button>
    <button class="btn btn-warning mr-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>
