.navbar {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }
.navbar-brand {
  font-size: 2rem;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}
.input-group{
  margin-right: auto;
}
.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.dropdown {
  margin-right: 8rem;
   right: 0;
  position: absolute;

}

img {
  border-radius: 50%;
  margin-right: 1rem;
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}
#username-text {
  text-decoration: none;
}
@media screen and (max-width: 992px) {
}
