<div class="row" >
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div >
                    <strong>Okul/Sınıf:</strong>
                    <p *ngIf="memberClass">{{memberClass?.name}} - {{memberSchool?.name}} </p>
                </div>
            
                <div>
                    <strong>Konum:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Yaş:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Son Görünme:</strong>
                    <p>{{member.lastActive |timeago}}</p>
                </div>
                <div>
                    <strong>Şu tarihten beri aramızda:</strong>
                    <p>{{member.created |date:"dd MMM yyyy"}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-danger">Takip et</button>
                    <button class="btn btn-warning">Arkadaşlık İsteği</button>
                </div>
                <div class="btn-group d-flex mt-2">
                    <button (click)="selectTab(3)" class="btn btn-success">Mesaj At</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="Açıklama" (selectTab)="onTabActived($event)">
                <h4>Açıklama</h4>
                <p>{{member.introduction}}</p>
                <h4>Aşağıdaki özelliklere sahip kişi arıyor</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="İlgi Alanları" (selectTab)="onTabActived($event)">
                <h4>Hobiler</h4>
                <p>{{member.interests}}</p>

            </tab>
            <tab heading="Fotoğraflar" (selectTab)="onTabActived($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
            <tab heading="Mesajlar" (selectTab)="onTabActived($event)">
                <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>