<h2 class="text-center mb-4">Yönetici Paneli</h2>
<div class="row">
  <div class="col-1"></div>
  <div class="tab-panel col-10">
    <tabset class="member-tabset">
      <tab heading="Kullanıcı Yönetimi" *appHasRole="['Admin']">
        <div class="container">
          <app-user-management></app-user-management>
        </div>
      </tab>
      <tab heading="Fotoğraf Yönetimi" *appHasRole="['Admin', 'Moderator']">
        <div class="container">
          <app-photo-management></app-photo-management>
        </div>
      </tab>
    </tabset>
  </div>
  <div class="col-1"></div>
</div>
