<div
  class="d-flex justify-content-around align-items-center"
  style="margin-top: 100px;"
  *ngIf="(accountService.currentUser$ | async) === null"

>
  <div class="text-center align-items-center ">
    <h1 style="font-size: 3.24rem">Magma Eğitim Uygulamasına Hoş Geldiniz</h1>
    <form
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0 d-flex flex-column"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <p class="lead">Devam etmek için giriş yapınız ya da kayıt olunuz.</p>

      <input
        type="text"
        [(ngModel)]="model.username"
        name="username"
        class="form-control mr-sm-2 mt-2"
        placeholder="Kullanıcı Adı"
        style="font-size: large"
      />
      <input
        [(ngModel)]="model.password"
        name="username"
        type="password"
        class="form-control mr-sm-2 mt-2"
        placeholder="Şifre"
        style="font-size: large"
      />
      <button class="btn btn-primary my-2 pr-5 pl-5 mb-2 mt-3" type="submit">
        Giriş Yap
      </button>
      <p style="font-size: large">Veya</p>
    </form>
    <div
      *ngIf="!logined"
      routerLink="register"
      class="btn btn-outline-primary my-2 pr-5 pl-5 mt-1"
    >
      Kayıt Ol
    </div>
  </div>
</div>
