<div *ngIf="member">
  <div>
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Bilgilendirme:</strong> Değişiklikler yaptın. Kaydedilmeyen
      değişiklikler kaybolacaktır.
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <h2>Profil Sayfası</h2>

      <div class="card">
        <img
          src="{{ member.photoUrl || './assets/user.png' }}"
          alt="{{ member.knownAs }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Okul/Sınıf:</strong>
            <p *ngIf="memberClass">
              {{ memberClass?.name }} - {{ memberSchool?.name }}
            </p>
          </div>

          <div>
            <strong>Konum:</strong>
            <p>{{ member.city }}, {{ member.country }}</p>
          </div>
          <div>
            <strong>Yaş:</strong>
            <p>{{ member.age }}</p>
          </div>
          <div>
            <strong>Son Aktivite:</strong>
            <p>{{ member.lastActive | timeago }}</p>
          </div>
          <div>
            <strong>Şu tareihten beridir aramızda:</strong>
            <p>{{ member.created | date: "dd MMM yyyy" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button
            form="editForm"
            class="btn btn-success btn-block"
            [disabled]="!editForm.dirty"
          >
            Değişiklikleri kaydet
          </button>
        </div>
      </div>
    </div>

    <div class="col-7">
      <tabset class="member-tabset">
        <tab heading="Hakkımda">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <label for="knownAs">Ad-Soyad:</label>
            <input
              [(ngModel)]="member.knownAs"
              type="text"
              name="knownAs"
              class="form-control mx-2"
            />
            <h4>Açıklama</h4>
            <textarea
              class="form-control"
              [(ngModel)]="member.introduction"
              name="introduction"
              rows="7"
            ></textarea>
            <h4 class="mt-2">Şu özelliklere sahip kişi arıyor</h4>
            <textarea
              class="form-control"
              [(ngModel)]="member.lookingFor"
              name="lookingFor"
              rows="5"
            ></textarea>
            <h4 class="mt-2">Hobiler</h4>
            <textarea
              class="form-control"
              [(ngModel)]="member.interests"
              name="interests"
              rows="5"
            ></textarea>
            <h4 class="mt-2">Konum Bilgileri</h4>
            <div class="form">
              <div class="row">
                <div class="col-6">
                  <label for="city">Şehir:</label>
                  <input
                    [(ngModel)]="member.city"
                    type="text"
                    name="city"
                    class="form-control mx-2"
                  />
                </div>
                <div class="col-6">
                  <label for="country">Ülke:</label>
                  <input
                    [(ngModel)]="member.country"
                    type="text"
                    name="country"
                    class="form-control mx-2"
                  />
                </div>
              </div>
            </div>
          </form>
        </tab>
        <tab heading="Fotoğrafları Düzenle">
          <app-photo-editor [member]="member"></app-photo-editor>
        </tab>
      </tabset>
    </div>
    <div class="col-1"></div>
  </div>
</div>
