<div class="navbar navbar-expand-sm navbar-dark bg-danger">
  <ng-container *ngIf="accountService.currentUser$ | async as user"
    ><div id="b1" class="col-md-1"></div>
    <ul id="title2" class="navbar-nav mr-5">
      <li class="navbar-nav">
        <a routerLink="/" class="navbar-brand">Magma Eğitim</a>
      </li>
    </ul>
    <ul
      id="title1"
      class="navbar-nav"
      style="margin-left: auto; margin-right: auto"
    >
      <li class="navbar-nav">
        <a routerLink="/" class="navbar-brand">Magma Sözlük</a>
      </li>
    </ul>
    <div id="navbarfirst">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="accountService.currentUser$ | async" >
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sözlük
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" routerLink="/posts"  >Sözlük Ana Sayfası</a>
              <a class="dropdown-item" >Son Yazılar</a>
              <a class="dropdown-item">Kendi Yazılarım</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" >Yazı Paylaş</a>
            </div>
          </li>
          <li class="navbar-nav">
            <a routerLink="/lists" class="nav-link" routerLinkActive="active"
              >Social</a
            >
          </li>
          <li class="navbar-nav">
            <a routerLink="/lists" class="nav-link" routerLinkActive="active"
              >Okul</a
            >
          </li>
          <li class="navbar-nav">
            <a routerLink="/lists" class="nav-link" routerLinkActive="active"
              >Sözlük</a
            >
          </li>
        </ng-container>
      </ul>
    </div>

    <div id="navbarsecond">
      <ul id="navbarsecond2" class="navbar-nav">
        <div
          id="dropdown"
          class="dropdown"
          *ngIf="accountService.currentUser$ | async as user"
          dropdown
        >
          <img
            src="{{ user.photoUrl || 'assets/user.png' }}"
            alt="{{ user.username }}"
          />
          <a
            id="username-text"
            class="dropdown-toggle text-light"
            dropdownToggle
          >
            {{ user.knownAs || user.username | titlecase }}</a
          >
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a
              *appHasRole="['Admin', 'Moderator']"
              class="dropdown-item"
              routerLink="/admin"
              >Yönetme Paneli</a
            >

            <a class="dropdown-item" routerLink="/members">Kullanıcılar</a>

            <a class="dropdown-item" routerLink="/followers-list">Takipçiler</a>
            <a class="dropdown-item" routerLink="/followings-list"
              >Takip edilenler</a
            >
            <a class="dropdown-item" routerLink="/messages">Mesajlar</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/member/edit"
              >Profilini Düzenle</a
            >
            <a href="" class="dropdown-item" (click)="logout()">Çıkış Yap</a>
          </div>
        </div>
      </ul>
    </div>
    <div id="b2" class="col-md-1"></div
  ></ng-container>
</div>
