.navbar-brand{
    font-size: 2.5rem;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar{
    padding-right: 0rem;
}
#title1{
    display: none;
}
.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;

}
#dropdown{
    margin-left: auto;
}
#navbarfirst{
    width: 30%;
}
#navbarsecond{
    width: 30%;
}
@media screen and (max-width: 992px) {

    #b1{
        display: none;
    }
    #b2{
        display: none;
    }
    #title1{
        display: inline;
        margin-right: 1rem;
    }
    #title2{
        display: none;
    }
    #navbarfirst{
        margin-left: 0rem;
    }
    #navbarsecond{
        margin-right: 6rem;
    }
    .navbar-brand{
        font-size: 1.5rem;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    
  }

img{
    border-radius: 50%;
    margin-right: 1rem;
    max-height: 50px;
    border:2px solid #fff;
    display: inline;
}
#username-text{
    text-decoration: none;
}