<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex mb-3 pl-1">
      <img src="./assets/user.png" alt="" />
      <div>
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.sourceUsername }}</h6>
      </div>
    </div>

    <p class="card-text">{{ post.content }}</p>
    <div class="d-flex">
        <p class="card-link text-muted mt-4 mb-1">Yorumlar</p>

      <div style="margin-left: 84%">
        <button
          class="btn btn-outline-danger mr-2"
          style="border: 0px; font-size: xx-large; padding: 0px 7px"
        >
          <i class="card-link fa fa-heart"></i>
        </button>
        <button
          class="btn btn-outline-info"
          style="border: 0px; font-size: xx-large; padding: 0px 7px"
        >
          <i class="card-link fa fa-comment"></i>
        </button>
      </div>
    </div>
  </div>
</div>
