.navbar-brand {
  font-size: 2.6rem;
  margin-right: 0rem;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}
.nav{
  position: sticky;
}
.nav-link{
    font-size: 1.2rem;
}
img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;

  border: 2px solid #fff;
  display: inline;
  margin: 0rem auto;
}
#username-text {
  text-decoration: none;
  text-align: center;
  font-size: 1.7rem;
  cursor: default;

}
.navphoto{
  margin: 0rem auto;
  position: relative;
}
.navphoto span i{
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navphoto span{
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0.1rem;
  cursor: pointer;

}