<nav
  class="nav navbar-dark flex-column mt-3"
  *ngIf="accountService.currentUser$ | async as user"
>
  <a routerLink="/" class="text-center navbar-brand">Magma Okul</a>
  <div class="navphoto" >
    <img
      src="{{ user.photoUrl || 'assets/user.png' }}"
      alt="{{ user.username }}"
    />
   <span><i class="fa fa-bell-o"></i> </span>
  </div>
  <a id="username-text" class="nav-link text-light">
    {{ user.knownAs || user.username | titlecase }}</a
  >
  <ul class="navbar-nav mt-4 ml-4">
    <li class="navbar-nav">
      <a href="" class="nav-link" routerLinkActive="active">Ana Sayfa</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Programım</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Sorularım</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Sınavlarım</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Projelerim</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Ödevler</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Çalışmalarım</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Ödüller</a>
    </li>
    <li class="navbar-nav">
      <a class="nav-link" routerLinkActive="active">Çalışmalarım</a>
    </li>
    <li class="navbar-nav">
      <a routerLink="/member/edit" class="nav-link" routerLinkActive="active"
        >Profilini Düzenle</a
      >
    </li>
    <li class="navbar-nav">
      <a
        *appHasRole="['Admin', 'Moderator']"
        class="nav-link"
        routerLink="/admin"
        >Yönetme Paneli</a
      >
    </li>
    <li class="navbar-nav">
      <a href="" class="nav-link" (click)="logout()">Çıkış Yap</a>
    </li>
  </ul>
</nav>
