<div
  class="d-flex justify-content-around align-items-center"
  style="margin-top: 100px;"
  *ngIf="!registerMode"
>
  <div><img  src="../../assets/arkaplan.png" alt="" /></div>
  <div class="text-center align-items-center ">
    <h1 style="font-size: 3.24rem">Magma Eğitim Uygulamasına Hoş Geldiniz</h1>
    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0 d-flex flex-column"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <p class="lead">Devam etmek için giriş yapınız ya da kayıt olunuz.</p>

      <input
        type="text"
        [(ngModel)]="model.username"
        name="username"
        class="form-control mr-sm-2 mt-2"
        placeholder="Kullanıcı Adı"
        style="font-size: large"
      />
      <input
        [(ngModel)]="model.password"
        name="username"
        type="password"
        class="form-control mr-sm-2 mt-2"
        placeholder="Şifre"
        style="font-size: large"
      />
      <button class="btn btn-primary my-2 pr-5 pl-5 mb-2 mt-3" type="submit">
        Giriş Yap
      </button>
      <p style="font-size: large">Veya</p>
    </form>
    <div
      *ngIf="!logined"
      routerLink="register"
      class="btn btn-outline-primary my-2 pr-5 pl-5 mt-1"
    >
      Kayıt Ol
    </div>
  </div>
</div>
<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>

<main role="main"  style="margin-top: 300px;">
  <div id="laptops" class="mt-4 mb-5 d-flex justify-content-center">
    <img class="laptops" src="../../../assets/laptoplar.jpg" alt="" />
    <div id="contentOfLaptops">
      <h2 style="font-size: 3.24rem" class="text-center">
        Magma Eğitim ile Eğitim Her Yerde
      </h2>
      <p class="text-center text-white-50">
        Magma Eğitim öğrencileri hedefleyen bir kuruluştur. Alt platformler ile
        öğrencilere yardım ediyoruz. Aşağıdaki platformlara bakmanızı öneririz.
      </p>
      <div id="contentOfLaptops2" class="d-flex justify-content-around">
        <div class="project align-items-center">
          <img class="projectImages" src="../../../assets/mag.png" alt="" />
          <h3>Magma Eğitim Discord</h3>
          <p>
            Yetenekli öğrencilerin biraraya gelmesini sağlıyoruz. Böylece
            birlikte yeni fikir ve projeler üretebilirler.
          </p>
        </div>
        <div class="project">
          <img
            class="projectImages"
            src="../../../assets/magmaeducation.png"
            alt=""
          />
          <h3>Magma Eğitim Blog</h3>
          <p>
            Öğrenmek için öğret felsefesiyle hareket ettiğimiz bir blog. Bir
            konuda deneyimli kişiler o konu hakkında yazılar yazarak hem kendini
            geliştirip hem de diğerlerine yardımcı olabilir.
          </p>
        </div>
        <div class="project">
          <img class="projectImages" src="../../../assets/mag.png" alt="" />
          <h3>Magma Social</h3>
          <p>
            Öğrencilere özel bir sosyal medya platformu. Öğrenciler kendi
            alanında başka kişilerle tanışabilir. Ayrıca okullar arası bir köprü
            olur.
          </p>
        </div>
        <div class="project">
          <img class="projectImages" src="../../../assets/mag.png" alt="" />
          <h3>Magma Sözlük</h3>
          <p>
            Öğrencilerin belli kurallar çerçevesinde çeşitli konular üzerine
            konuşup tartışabileceği bir platform.
          </p>
        </div>
        <div class="project" style="margin-right: 0%">
          <img class="projectImages" src="../../../assets/mag.png" alt="" />
          <h3>Magma Okul</h3>
          <p>
            Öğretmenlerin öğrencileri daha kolay takip etmesi, öğrencinin
            durumunu görmesi, öğrenci çalışmasına göre ödüllendirilmesi için
            tasarlanmış, uzaktan eğitime yardımcı bir platform.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing" style="margin-top: 900px">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" />
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
          Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo
          risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
          cursus magna.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" />
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Heading</h2>
        <p>
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
          lacinia odio sem nec elit. Cras mattis consectetur purus sit amet
          fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" />
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
          dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
          fermentum massa justo sit amet risus.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          First featurette heading.
          <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 500x500"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Oh yeah, it’s that good.
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 500x500"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          And lastly, this one. <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 500x500"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Yukarı çık</a></p>
    <p>
      &copy; 2020 Magma Eğitim,
      <a href="https://tarekjawad.com">Tarek Jawad</a> tarefından yapılmıştır. <a href="#"> Gizlilik</a> <a href="#"> Şartlar</a>
    </p>
  </footer>
</main>
