<div class="text-center mt-3">
    <h2>Takip Edilenler</h2>
  </div>
  <div class="row mt-3">
    <div class="col-2" *ngFor="let member of members">
      <ng-container *ngIf="member">
        <app-member-card [member]="member"></app-member-card>
      </ng-container>
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      [boundaryLinks]="true"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
  